body,
form,
form input,
form select,
form textarea,
form button {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

body {
    padding-top: 80px;
}

.header-shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
}

.navbar-padding {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.text-dark {
  color: #222222 !important;
}

.bg-dark {
  background-color: #222222 !important;
}
.navbar-toggler.no-border {
  border: none;
  box-shadow: none;
}
.navbar-toggler.no-border:focus {
  outline: none;
  box-shadow: none;
}

.form-control {
    border-radius: 0;
}

.btn-submit {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin-top: 2rem;
}

.form-title {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.form-label {
    font-size: 12px;
    color: #989898;
}

.alert {
    background-color: rgb(195, 168, 116) !important;
    color: white !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert .btn-close {
    margin-left: auto;
    filter: invert(1) grayscale(100%) brightness(200%);
    opacity: 1;
}

.alert .btn-close:focus,
.alert .btn-close:active {
    outline: none;
    box-shadow: none;
}

.admin-sidebar .list-group-item { background: transparent; border: 0; padding-left: 0; padding-right: 0; }
.admin-sidebar a.fw-semibold { color:#000; }

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-submenu .dropdown-item.active,
.dropdown-menu .dropdown-submenu .dropdown-item:active {
    background-color: #212529 !important;
    color: #fff !important;
}


.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-submenu .dropdown-item:hover,
.dropdown-menu .dropdown-submenu .dropdown-item:focus {
    background-color: #343a40 !important;
    color: #fff !important;
}

.dropdown-menu .active > a,
.dropdown-menu .active > button {
    background-color: #212529 !important;
    color: #fff !important;
}
.object-cover { object-fit: cover; object-position: center; }